.css-wnm74r {
  font-size: 0rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 400;
}

div.css-1wivap2.e1i5pmia3{
  font-size: 3.25rem;
  font-family: "Rubik", sans-serif;
}

.css-ocqkz7{
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: stretch;
  align-items: stretch;
  gap: 0rem;
}
.css-gdlmhp {
  width: 255px;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  gap: 0rem;
}